[buildout]
extends = ./versions.cfg
;allow-picked-version = false
update-versions-file = versions.cfg
versions = versions
develop = .
parts = 
    mimosa
    demo
    test
    docs
demo_port = 5000

[mimosa]
recipe = zc.recipe.egg
eggs = mimosa
interpreter = py

[demo]
recipe = zc.recipe.egg
eggs = ${mimosa:eggs}
       waitress
       pyramid_debugtoolbar
scripts = 
       waitress-serve=run_demo
extra-paths = demo
arguments = sys.argv + "--port=${buildout:demo_port} --host=0.0.0.0 basic:application".split()
interpreter = demopy

[test]
recipe = zc.recipe.egg
eggs = mimosa[testing]
       nose
       coverage
scripts =
    nosetests=test
initialization = sys.argv += "--with-coverage --cover-package=mimosa --cover-erase --cover-html".split()

[docs]
recipe = zc.recipe.egg
eggs = ${mimosa:eggs}
       sphinx
scripts = 
       sphinx-build=docs
arguments = sys.argv + " -b html docs docs/_build".split()